<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alpha Blog</title>
  </head>
  <body>
    <h1>Welcome To alpha blog Home-Page</h1>
    <%= link_to 'about page', about_path %>
  </body>
</html>
