<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alpha Blog</title>
  </head>
  <body>
    <div class="jumbotron home-jumbotron">
      <h1 class="display-4">Welcome to Pawns Blog!</h1>
      <p class="lead">Panws Blog is a blog that you can add articles in any category you want, so people can watch them and give you comments about it.</p>
      <hr class="my-4">
      <p>You are exciting to write your first article!.<br> sign up now and write your first article. </p>
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
    </div>
  </body>
</html>
