<div class="jumbotron home-jumbotron text-center">
  <h1 class="display-4">Welcome to Pawns Blog!</h1>
  <p class="lead">Panws Blog is a blog that you can add articles in any category you want, so people can watch them and give you comments about it.</p>
  <hr class="my-4">
  <p>You are exciting to write your first article!.<br> sign up now and write your first article. </p>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 p-4 block-home text-center">
      <h2>Write Articles</h2>
      <p>In Pawns-Blog you can write articles freely as many as you want. you can write in many categories.</p>
      <a href="/articles/">Show Article</a>
    </div>
    <div class="offset-2 col-4 p-4 block-home text-center">
      <h2>Categories</h2>
      <p>We have many categories that you can write articles in. Art, Sports, Programming, Education and many other categories</p>
      <a href="/categories/">Show categories</a>
    </div>

  </div>
</div>
